nav {
    background-color: #007bff
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    padding: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.menu-toggle {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .opened ul {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        align-items: center;
    }

    .opened ul li a {
        font-size: 14px;
        padding: 10px 20px;
        display: block;
    }
    .menu-toggle {
        display: block;
        color: black;
    }
}

@media (max-width: 768px) {
    nav.closed ul {
        display: none;
    }
}